<center><h1> Create dummy data </h1></center>

## Which data do we need?
    1. Table events:
    event_id | event_name | event_address | event_start_date | event_end_date | event_start_time | event_end_time
    
    2. Table users:
    user_prename | user_name | user_email | user_alias | user_password | ticket_id | user_id | event_id
    
    3. Table pickups:
    pickup_cities | pickup_zip_code
    
    4. Table journey:
    event_address | pickup_zip_code | user_id | journey_id | journey_empty_spaces | journey_car | event_id | journey_text | journey_date | event_date | journey_start_time | event_start_time
    
    5. Table tickets:
    event_id | ticket_id | event_date

In [1]:
# --------------- creds --------------- 
import uuid # random unique IDs
import pandas as pd # Dataframes
from faker import Faker # create random data
from random import randint # random numbers for creation of test data
import hashlib # hash password data

In [2]:
# --------------- table events ---------------
table_events = pd.DataFrame({
    "event_id" : ["2ab60824-b539-4a1f-ae1a-f7d94d2d55bb",
                 "7be626b0-c1cd-4a26-a111-60afb13ba940",
                 "eff7e9ae-9c58-42e1-8835-0d51c33dc480",
                 "e6930b99-e8ca-49f8-9583-89f54366dc14"],
    "event_name" : ["Time Warp",
                   "MAYDAY",
                   "Rock am Ring",
                   "World Club Dome"],
    "event_address" : ["Xaver-Fuhr-Straße 101, 68163 Mannheim", # this format is not good!
                      "Rheinlanddamm 200, 44139 Dortmund",
                      "Otto-Flimm-Straße, 53520 Nürburg",
                      "Mörfelder Landstraße 362, 60528 Frankfurt am Main"],
    "event_start_date" : ["2020-04-04",
                         "2020-04-30",
                         "2020-06-05",
                         "2020-06-05"],
    "event_end_date" : ["2020-04-05",
                       "2020-05-01",
                       "2020-06-07",
                       "2020-06-07"],
    "event_start_time" : ["19:00:00",
                         "17:00:00",
                         "12:00:00",
                         "20:00:00"],
    "event_end_time" : ["14:00:00",
                       "12:00:00",
                       "20:00:00",
                       "18:00:00"]
})
table_events.to_csv("table_events.csv", index=False)
table_events

,event_id,event_name,event_address,event_start_date,event_end_date,event_start_time,event_end_time
0,2ab60824-b539-4a1f-ae1a-f7d94d2d55bb,Time Warp,"Xaver-Fuhr-Straße 101, 68163 Mannheim",2020-04-04,2020-04-05,19:00:00,14:00:00
1,7be626b0-c1cd-4a26-a111-60afb13ba940,MAYDAY,"Rheinlanddamm 200, 44139 Dortmund",2020-04-30,2020-05-01,17:00:00,12:00:00
2,eff7e9ae-9c58-42e1-8835-0d51c33dc480,Rock am Ring,"Otto-Flimm-Straße, 53520 Nürburg",2020-06-05,2020-06-07,12:00:00,20:00:00
3,e6930b99-e8ca-49f8-9583-89f54366dc14,World Club Dome,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",2020-06-05,2020-06-07,20:00:00,18:00:00

# --------------- table tickets ---------------
table_tickets = []
for i in range(1, 401):
    x = randint(0, len(table_events)-1)
    table_tickets.append({
        "event_id" : table_events["event_id"][x],
        "ticket_id" : uuid.uuid4(),
        "event_start_date" : table_events["event_start_date"][x],
        "event_end_date" : table_events["event_end_date"][x]
    })
table_tickets = pd.DataFrame(table_tickets)
table_tickets = table_tickets[["event_id", "ticket_id", "event_start_date", "event_end_date"]]
table_tickets.to_csv("table_tickets.csv", index=False)
table_tickets

In [3]:
# --------------- table users ---------------
table_user = []
faker = Faker(["de_DE"])

def encrypt_string(hash_string):
    sha_signature = \
        hashlib.sha256(hash_string.encode()).hexdigest()
    return sha_signature

for i in range(1, 101):
    table_user.append({
        "user_id": uuid.uuid4(),
        "user_email" : faker.email(),
        "username" : faker.user_name(),
        "user_password" : faker.password()
        })
    
table_user = pd.DataFrame(table_user)
table_user = table_user[["user_id", "username", "user_email", "user_password"]]

for p in table_user["user_password"]:
    table_user["user_password_hashed"] = encrypt_string(p)

table_user.to_csv("table_user.csv", index=False)
table_user

,user_id,username,user_email,user_password,user_password_hashed
0,e794739d-7566-4ea3-b2ac-e42e7ae077e6,dreuter,hans-rainereckbauer@kusch.de,jVThYb(7@8,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...
1,fbd694f9-5678-4f45-8908-57bc98d09906,helmut68,alois55@web.de,(6N#5jIkW$,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...
2,6f4f039c-554e-4bb1-a257-a8a7e214f45a,wkade,valentine01@schmiedecke.de,#1d0K(TieW,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...
3,e14f4ebc-f887-4657-bb40-ddb37b28094c,birnbaumjohann,trubregine@gmail.com,p*P5X4ObMZ,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...
4,67460ab8-f8d1-466f-96a9-a7a40ead933a,jsager,diethelm85@loechel.net,f5RE8GGS#Q,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...
...,...,...,...,...,...
95,d8c4a48b-06d2-428c-9e2a-1c4decc357c5,ackermanningeborg,barkholzruediger@schottin.com,n$U68Nmjyt,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...
96,def0ec74-2ff5-4c5c-b377-800d7293ae7c,marleenradisch,karolinstumpf@hiller.de,jF(9oRh^J#,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...
97,38bb88fa-f79e-4745-bde1-ec49f1eb7b8a,gerwin32,rholt@gmail.com,75T_KEd^(r,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...
98,77cd3cd5-218f-4ef6-89ef-0c7bfeb7ed31,rustannerose,rocco07@gmx.de,^pQZ4JTq8l,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...
99,9fc162d1-62f1-4430-802f-537886e40e09,ggorlitz,christinagehringer@gmx.de,0kpxK^nV_U,fe907bcf0d34f9b0769dc53d7f0950612fffe1a3607840...

In [4]:
# --------------- table_pickups ---------------
table_pickups = pd.read_csv("D:/TechTalents/project-tt-app/server/base_data/German-Zip-Codes.csv", sep = ";")
table_pickups = table_pickups[["Ort", "Plz"]]
table_pickups = table_pickups.rename(columns={"Ort" : "pickup_city", "Plz": "pickup_zip_code"})
table_pickups = table_pickups.dropna()
table_pickups["pickup_zip_code"] = table_pickups["pickup_zip_code"].astype(int)
table_pickups.to_csv("table_pickups.csv", index=False)
table_pickups

         pickup_city  pickup_zip_code
0               Aach            54298
1               Aach            78267
2             Aachen            52062
3             Aachen            52064
4             Aachen            52066
...              ...              ...
19669    Zwingenberg            69439
19670  Zwischendeich            19322
19671        Zwochau             4509
19672        Zwönitz             8297
19673          Zwota             8267

[19670 rows x 2 columns]

In [5]:
# --------------- table_journey ---------------
table_journey = []
car_manufactures = ["Abarth","Alfa Romeo","Aston Martin","Audi","Bentley","BMW","Bugatti","Cadillac","Chevrolet","Chrysler",
                    "Citroën","Dacia","Daewoo","Daihatsu","Dodge","Donkervoort","DS","Ferrari","Fiat","Fisker","Ford",
                    "Honda","Hummer","Hyundai","Infiniti","Iveco","Jaguar","Jeep","Kia","KTM","Lada","Lamborghini",
                    "Lancia","Land Rover","Landwind","Lexus","Lotus","Maserati","Maybach","Mazda","McLaren","Mercedes-Benz",
                    "MG","Mini","Mitsubishi","Morgan","Nissan","Opel","Peugeot","Porsche","Renault","Rolls-Royce","Rover",
                    "Saab","Seat","Skoda","Smart","SsangYong","Subaru","Suzuki","Tesla","Toyota","Volkswagen","Volvo"]
for i in range(1, 301):
    x = randint(0, len(table_events)-1)
    y = randint(0, len(table_pickups)-1)
    z = randint(0, len(table_user)-1)
    a = randint(0, len(car_manufactures)-1)
    table_journey.append({
        "event_address" : table_events["event_address"][x],
        "event_id" : table_events["event_id"][x],
        "event_start_date" : table_events["event_start_date"][x],
        "event_start_time" : table_events["event_start_time"][x],
        "pickup_zip_code" : table_pickups["pickup_zip_code"][y],
        "user_id": table_user["user_id"][z],
        "journey_id": uuid.uuid4(),
        "journey_empty_spaces": randint(1, 5),
        "journey_car": car_manufactures[a],
        "journey_text": faker.text(),
        "journey_date": table_events["event_start_date"][x],
        "journey_start_time": faker.time()
    })
table_journey = pd.DataFrame(table_journey)
table_journey.to_csv("table_journey.csv", index=False)
table_journey

,event_address,event_id,event_start_date,event_start_time,pickup_zip_code,user_id,journey_id,journey_empty_spaces,journey_car,journey_text,journey_date,journey_start_time
0,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,25582,aecf56fd-695c-479f-93a1-f203dacbdf10,872de9a8-3bce-46e1-9754-c259d51c9106,1,Opel,Minus rerum error voluptate. Reprehenderit asp...,2020-04-30,01:42:25
1,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,4916,dada47be-f7f8-4905-94c3-1005b72fbd36,00aa9ee9-75a8-49c8-b963-7e2137074e2b,5,Cadillac,Aperiam distinctio nisi nam et. Hic molestias ...,2020-04-30,00:39:18
2,"Otto-Flimm-Straße, 53520 Nürburg",eff7e9ae-9c58-42e1-8835-0d51c33dc480,2020-06-05,12:00:00,24241,a39678ec-c597-47bb-b8fc-0a7187b1e9cf,2f3f8603-9b40-4417-a7fa-74bb571205d6,5,Daihatsu,Repudiandae illum eius vel eveniet. Veritatis ...,2020-06-05,12:29:27
3,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",e6930b99-e8ca-49f8-9583-89f54366dc14,2020-06-05,20:00:00,56820,68d73a2c-b5b4-4abf-b3c0-c9fc145c491c,d76dc0ea-de89-4f18-b8e7-80e0b0748969,5,Donkervoort,Optio optio mollitia tempora doloremque eos te...,2020-06-05,20:22:42
4,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,14532,c2ce429c-458a-4b1c-a387-b17e85e76b74,e1c1f69e-aa5d-4c5e-82a6-54631a976230,2,Mazda,Eligendi exercitationem quo rerum odit maiores...,2020-04-30,18:41:55
...,...,...,...,...,...,...,...,...,...,...,...,...
295,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,6636,4cbed04c-8431-4ec9-97c9-d5b1df60e29f,ceeea66d-b009-47f2-9f75-730fbf75c72a,3,Daewoo,Pariatur fugiat ea. Enim excepturi repudiandae...,2020-04-30,22:51:49
296,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",e6930b99-e8ca-49f8-9583-89f54366dc14,2020-06-05,20:00:00,83329,7ac5ce0c-a777-4fe7-b4e6-86dd988356b0,5c9eb7ac-ba70-4865-9daf-7dc62e32fedf,5,Land Rover,Suscipit sint iure laudantium voluptates offic...,2020-06-05,09:15:45
297,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,6647,ea2866de-6635-4e57-b914-f87a36c956a4,b11355aa-527a-4906-8d59-48f9b65fd4c9,4,Lancia,Voluptas nesciunt id recusandae delectus. Nam ...,2020-04-30,20:19:24
298,"Mörfelder Landstraße 362, 60528 Frankfurt am Main",e6930b99-e8ca-49f8-9583-89f54366dc14,2020-06-05,20:00:00,82515,379259ca-9556-45d8-87b8-587800207f44,8784fbc1-6d0c-4bfb-a110-d3c3321ad8e9,2,Land Rover,Sed alias et officiis similique alias soluta. ...,2020-06-05,02:50:28
299,"Rheinlanddamm 200, 44139 Dortmund",7be626b0-c1cd-4a26-a111-60afb13ba940,2020-04-30,17:00:00,57629,9eb02698-ae9e-4023-93c0-dbe595db04d9,652ce5de-0471-47a1-a02b-ef05390e2b1b,3,Nissan,Maxime minus ipsa deserunt voluptatibus eos de...,2020-04-30,07:59:15